.detailContainer {
  display: flex;
  width: 99%;
}
.detailContainer h1 {
  margin-bottom: 0.5rem;
}

.detailContainer .block1 {
  padding-left: 1rem;
  width: 35%;
}
.detailContainer .block1 img {
  border-radius: 1.5rem;
  height: auto;
  max-width: 100%;
}
.detailContainer .block1 span button {
  margin:1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.878);
}
.detailContainer .block1 span .close {
  color: var(--close-color);
}
.detailContainer .block1 span .delete {
  color: var(--delete-color);
}
.detailContainer .block1 span .update {
  color: var(--update-color);
}

.detailContainer .block2 {
  width: 65%;
  margin-top: 3rem;
}

@media (max-width: 900px) { 
  .detailContainer {
    flex-direction: column;
  }
  .detailContainer .block1 {
    padding-bottom: 0;
    width: 100%;
  }
  .detailContainer .block2 {
    margin: 0;
    padding: 1rem;
    padding-top: 0;
    width: 98%;
  }
}