.navBarContainer {
	position: fixed;
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	padding: 0.3rem;
	gap: 0.3em;
	width: var(--menu-w);
	min-height: 1vh;
	background: #000000a0;
	border-radius: 0.5rem;
	z-index: 1;
}

.navBarContainer span {
	justify-content: space-around;
	border-radius: 8px;
	width: var(--menu-w);
	border: solid var(--color2);
	background-color: var(--color2);
}

.navBarContainer button {
	width: 100%;
}