html,
body,
:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-synthesis: none;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	min-height: 100vh;
	width: 100vw;
	margin: 0%;
	--navBar-h: 3rem;
	--footer-h: 10rem;
	color-scheme: light dark;
}
.palette0 {
  --color: #ffffff;
  --color1: #00171f;
  --color2: #003459;
  --color3: #007ea7;
  --color4: #00a8e8;
  --color5: #add7ff;
}
.palette1 {
  --color: #ffffff;
  --color1: #172e4a;
  --color2: #2d4562;
  --color3: #5977a1;
  --color4: #8bb5d5;
  --color5: #b5daf2;
}
.palette2 {
  --color: #ffffff;
  --color1: #16618f;
  --color2: #3278a8;
  --color3: #4e90c1;
  --color4: #6aa7d9;
  --color5: #86bef2;
}
.palette3 {
  --color: #ffffff;
  --color1: #1a02d6;
  --color2: #3e1de0;
  --color3: #6138eb;
  --color4: #8553f5;
  --color5: #a86eff;
}

.app {
	background-color: var(--color1);
	padding-top: calc(var(--navBar-h) + 0.7rem);
	min-height: calc(100vh - var(--navBar-h) - 0.7rem);
}

a {
	text-decoration: none;
}

span {
	display: flex;
	align-items: center;
}

button {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.34);
	background-color: var(--color3);
	color: var(--color);
	border: none;
	border-radius: 0.3rem;
	font-size: 1.3rem;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
}
button:hover {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34);
	background: radial-gradient(circle, var(--color4), var(--color3));
}
button:active {
	box-shadow: none;
}

input {
	border-radius: 0.3rem;
	border: 1px solid var(--color);
	background-color: var(--color1);
	color: var(--color5);
	font-size: 1.3rem;
	font-family: monospace;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34);
}

select {
	border-radius: 0.3rem;
	border: 1px solid var(--color5);
	background-color: var(--color3);
	color: var(--color);
	font-size: 1.1rem;
	text-align: center;
	height: 26px;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34);
}
option {
	font-size: 1rem;
}
