.updateContainer {
  display: flex;
	flex-direction: row;
	position: absolute;
	width: 100%;
  background-color: var(--color1);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  padding-top: 1rem;
  width: 50%;
}

.formContainer .cancel {
  color: var(--cancel-color);
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.878);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form button {
  margin-left: 0.7rem;
}

form .line {
  display: flex;
}
form .line input{
  height: 1rem;
  flex-grow: 1;
}
form input {
  margin-left: 0.3rem;
  font-size: 1rem;
  color: var(--color);
}

form textarea {
  width: 100%;
  resize: vertical;
  overflow: hidden;
  height: auto;
  min-height: 50px; 
}

form .errores {
  margin-top: 10px;
  display: block;
  color: red;
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

form .allDiets {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
form .allDiets input[type="checkbox"] {
  width: 1rem;
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}
form .allDiets label {
  display: inline-flex;
  align-items: center;
}

.detailContainer{
  width: 30%;
  padding: 4rem;
  padding-top: 2rem;
  border-width: 5px;
  border-radius: 1rem;
  border-color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailContainer .preview {
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color2);
  color: var(--color3);
}
.updateDetail {
  flex-direction: column;
}
.updateDetail .block {
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 900px) { 
  .updateContainer {
    flex-direction: column;
  }
  .formContainer {
    width: 90%;
    padding: 1rem;
  }
  .detailContainer{
    width: 95%;
    padding: 1rem;
  }
}