.aboutContainer {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
}
.aboutContainer h1 {
  color: var(--color);
}

.myContainer {
  text-align: center;
  width: 50%;
}
.myContainer button {
  color: var(--color5);
}
.myContainer span {
  justify-content: center;
}
.myContainer h4 {
  cursor: pointer;
  color: var(--color4);
  margin: 0;
}
.myContainer img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  padding-top: 5rem;
  margin-top: -5rem;
  margin-bottom: 0rem;
}
.myContainer .copied {
  color: var(--color4);
}

.moreContainer {
  padding-top: 1rem;
  width: 50%;
}
.moreContainer h2 {
  margin-top: 1rem;
}
.moreContainer ul {
  text-align: left;
}

@media (max-width: 900px) {
  .aboutContainer {
    flex-direction: column;
  }
  .myContainer {
    width: 98%;
  }
  .moreContainer {
    width: 98%;
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
  }
}
