.cardContainer {
  text-align: center;
  border: 2px solid var(--color3);
  border-radius: 1rem;
  margin: 0.4rem;
  padding: 0.1rem;
  height: 23rem;
  width: 20rem;
  background-color: var(--color3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.499);
  view-timeline-name: --card;
  view-timeline-axis: block;
  animation-timeline: --card;
  animation-name: show;
  animation-range: entry 25% cover 40%;
  animation-fill-mode: both;
}

.cardContainer img {
  border-radius: 15px;
  padding: 0.3rem;
  height: 210px;
  width: 310px;
}

.cardContainer h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--color5);
  text-shadow: 1px 1px 1px #00000075;
}
.cardContainer h3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 17px;
  margin: 0;
  margin-top: 0.5rem;
  color: var(--color);
  margin-left: 10px;
  text-align: center;
  font-family: monospace;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}