.navBarContainer {
	display: flex;
	position: fixed;
	flex-direction: row;
	top: 0;
	z-index: 1;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	padding-top: 0.7rem;
	width: 99%;
	height: var(--navBar-h);
}

.navBarContainer span {
	justify-content: space-around;
	border-radius: 8px;
	width: 100vw;
	border: solid var(--color2);
	background-color: var(--color2);
}
